@model RequestsListModel


@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <div id="accordion">
            <div class="card shadow mt-5">
                <div class="card-header bg-dark">
                    <a href="#collapseOne" class="card-link p-1" data-toggle="collapse">
                        Filter Section
                    </a>
                </div>
                <div id="collapseOne" class="collapse">
                    <div class="card-cody p-5">
                        <form action="/Admin/SearchRequest" method="post">

                            <input type="hidden" name="q" value="@Model.Url" />

                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label" asp-for="queryString"></label>
                                <div class="col-sm-4">
                                    <input class="form-control" id="queryString" placeholder="Search" name="queryString" asp-for="queryString" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label" asp-for="requestStatus"></label>
                                <div class="col-sm-6">
                                    <div class="form-check">

                                        <input asp-for="requestStatus" class="form-check-input" type="radio" name="requestStatId" id="requestWaiting" value="@Request.EnumRequestStatus.Waiting">
                                        <label class="form-check-label" for="requestStatCheck">
                                            Waiting
                                        </label>
                                    </div>
                                    <div class="form-check ml-1 d-inline">
                                        <input asp-for="requestStatus" class="form-check-input  " type="radio" name="requestStatId" id="requestClosed" value="@Request.EnumRequestStatus.Closed">
                                        <label class="form-check-label" for="requestStatCheck">
                                            Closed
                                        </label>
                                        <input type="hidden" asp-for="requestStatus" name="requestStatId" value="null" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <label class="col-form-label">
                                        Select A Service
                                    </label>
                                </div>
                                <div class="col-sm-4">

                                    <div class="form-group row">
                                        @if (Model.Services.Count() > 0)
                                        {
                                            <div class="input-group">
                                                <select id="serviceName" name="serviceName" asp-for="serviceName" class="custom-select">
                                                    <option selected>Select A Service</option>
                                                    @foreach (var service in Model.Services)
                                                    {
                                                        <option value="@service.ServiceName">@service.ServiceName</option>
                                                    }
                                                </select>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group row">
                                        <div class="col-sm-10 offset-sm-2">
                                            <button type="submit" class="btn btn-success">Search</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    }
    else
    {
        <div id="accordion">
            <div class="card shadow mt-5">
                <div class="card-header bg-dark">
                    <a href="#collapseOne" class="card-link p-1" data-toggle="collapse">
                        Filter Section
                    </a>
                </div>
                <div id="collapseOne" class="collapse">
                    <div class="card-cody p-5">
                        <form action="/Request/SearcRequest" method="post">

                            <input type="hidden" name="q" value="@Model.Url" />

                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label" asp-for="queryString"></label>
                                <div class="col-sm-4">
                                    <input class="form-control" id="queryString" placeholder="Search" name="queryString" asp-for="queryString" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label" asp-for="requestStatus"></label>
                                <div class="col-sm-6">
                                    <div class="form-check">

                                        <input asp-for="requestStatus" class="form-check-input" type="radio" name="requestStatId" id="requestWaiting" value="@Request.EnumRequestStatus.Waiting">
                                        <label class="form-check-label" for="requestStatCheck">
                                            Waiting
                                        </label>
                                    </div>
                                    <div class="form-check ml-1 d-inline">
                                        <input asp-for="requestStatus" class="form-check-input  " type="radio" name="requestStatId" id="requestClosed" value="@Request.EnumRequestStatus.Closed">
                                        <label class="form-check-label" for="requestStatCheck">
                                            Closed
                                        </label>
                                        <input type="hidden" asp-for="requestStatus" name="requestStatId" value="null" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <label class="col-form-label">
                                        Select A Service
                                    </label>
                                </div>
                                <div class="col-sm-4">

                                    <div class="form-group row">
                                        @if (Model.Services.Count() > 0)
                                        {
                                            <div class="input-group">
                                                <select id="serviceName" name="serviceName" asp-for="serviceName" class="custom-select">
                                                    <option selected>Select A Service</option>
                                                    @foreach (var service in Model.Services)
                                                    {
                                                        <option value="@service.ServiceName">@service.ServiceName</option>
                                                    }
                                                </select>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group row">
                                        <div class="col-sm-10 offset-sm-2">
                                            <button type="submit" class="btn btn-success">Search</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    }
}

