@model RequestsModel
@section Styles{

    <link href="~/bootstrap-fileinput-master/css/fileinput.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
}
<div class="card shadow mt-5">
    <div class="card-header bg-dark">
        Service Request Form
    </div>
    <div class="card-body">

        <div class="col-md-8">
            <form asp-controller="Request" asp-action="RequestCreate" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="@Model.User.Id" />
                <div class="row">
                    <div class="col-md-12">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="Title"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="Description"></label>
                    <div class="col-sm-10">
                        <textarea id="editor" class="form-control" asp-for="Description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                @if (Model.Services.Count() > 0)
                {
                    @if (Model.CompaniesServices.Count() > 0)
                    {
                        <div class="input-group">
                            <label class="col-sm-2 col-form-label"></label>

                            <select name="serviceId" id="serviceId" class="custom-select  col-sm-10" asp-for="selectedService">
                                <option selected value="">Select A Service</option>
                                @foreach (var service in Model.Services)
                                {
                                    @foreach (var companyService in Model.CompaniesServices)
                                    {
                                        @if (companyService.CompanyId == Model.User.CompanyId && companyService.ServiceId == service.Id)
                                        {
                                            <option value="@service.Id"> @service.ServiceName </option>
                                            <option hidden name="companyServiceId" id="companyServiceId" value="@companyService.Id" />

                                        }
                                    }
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <h4 class="alert-title">There is no Services in Companies</h4>
                            <p>Make sure you're assigning services to companies. </p>
                        </div>
                    }

                }
                <div class="row mt-3">
                    <div class="col-sm-2">
                        <p class="font-weight-bold">Choose Files</p>
                    </div>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="@Model.Files" id="customFile" name="customFile" type="file" multiple>
                        </div>
                    </div>
                </div>


                <div class="form-group row mt-3">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
@section Scripts{
    <script src="https://cdn.ckeditor.com/4.17.2/basic/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
<script src="~/bootstrap-fileinput-master/js/fileinput.js"></script>
    <script src="~/bootstrap-fileinput-master/themes/fa/theme.js"></script>
    <script>
        $(document).ready(function () {
            $('#customFile').fileinput({
                theme: "fa",
                removeFromPreviewOnError: true,
                browseLabel: "Select your files.",
                maxFileSize: 5000,
                maxFileCount: 10,
                resizeImage: true,
                maxImageWidth: 800,
                maxImageHeight: 600,
                resizePreference: 'Width',
                resizeImageQuality: 0.75,
                showRemove: true,
                fileActionSettings: {
                    showDrag: false,
                    showZoom: true,
                    showUpload: false,
                    showRemove: true,
                },
            });

        });
    </script>
}