@model CompanyModel


<div class="card shadow mt-5">
    <div class="card-header bg-dark">
        <a href="#collapseCompanyList" class="card-link p-1" data-toggle="collapse">
            Companies List
        </a>
    </div>
    <div id="collapseCompanyList" class="collapse show">
        <div class="card-body">
            <div class="row table-responsive-sm">
                <div class="col-md-12 ">
                    <table id="dataTable" class="table table-bordered mt-3 w-100">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td style="width:300px;">Name</td>
                                <td style="width:300px;">TaxNumber</td>
                                <td style="width:300px;">PhoneNumber</td>
                                <td style="width:350px;">Email</td>
                                <td style="width:min-content;">Options</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Companies.Count() > 0)
                            {
                                @foreach (var company in Model.Companies)
                                {
                                    if (company.isDeleted == false)
                                    {
                                        <tr>
                                            <td >@company.Id</td>
                                            <td >@company.Name</td>
                                            <td >@company.TaxNumber</td>
                                            <td >@company.PhoneNumber</td>
                                            <td >@company.Email</td>
                                            <td >
                                                <a href="/Admin/Companies/@company.Id" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                                                <form action="/Admin/CompanyDelete" method="post" class="d-inline">
                                                    <input type="hidden" name="Id" value="@company.Id" />
                                                    <input type="hidden" name="Name" value="@company.Name" />
                                                    <button type="submit" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    }

                                }
                            }
                            else
                            {
                                <div class="alert alert-warning">
                                    <h3>No Company</h3>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
