@model AdminCompanyEmployeeList

@section Styles{
    <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
        $(document).ready(function () {
            $('#employeeTable').DataTable();
        });
    </script>
}
@if (Model.EmployeeDepartments.Count > 0)
{
    @foreach (var company in Model.Companies)
    {
        @if (company.Id == Model.User.CompanyId)
        {
            <div id="accordion">
                <div class="card mt-5 shadow">
                    <div class="card-header bg-dark">
                        <a href="#collapseOne" class="card-link p-1" data-toggle="collapse">
                            Employees of   <span><small class="text-muted">@company.Name</small></span>
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show">

                        <div class="card-cody">
                            <form asp-controller="Admin" asp-action="DefineEmployeeToDepartment" method="post">
                                <div class="row">
                                    <div class="col-md-12 p-5 table-responsive-sm">
                                        <table id="dataTable" class="table table-bordered mt-3 w-100">
                                            <thead>
                                                <tr>
                                                    <td style="width:min-content">#</td>
                                                    <td style="width:100px;">First Name</td>
                                                    <td style="width:100px;">Last Name</td>
                                                    <td style="width:250px;">Email</td>
                                                    <td style="width:max-content">Select Department</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Users.Count() > 0)
                                                {
                                                    @foreach (var user in Model.Users)
                                                    {
                                                        @if (Model.User.CompanyId == user.CompanyId)
                                                        {
                                                            <tr>
                                                                <td>@user.Id</td>
                                                                <td>@user.FirstName</td>
                                                                <td>@user.LastName</td>
                                                                <td>@user.Email</td>
                                                                <td>
                                                                    <div class="row">
                                                                        <form action="/Admin/DefineEmployeeToDepartment" method="post" class="d-inline">
                                                                            <select class="custom-select-sm d-inline" asp-for="departmentId">
                                                                                <option selected value="">Select A Department</option>
                                                                                @foreach (var department in Model.Departments)
                                                                                {
                                                                                    if (department.isDeleted == false)
                                                                                    {
                                                                                        <option value="@department.Id">@department.Name</option>
                                                                                        <option hidden value="@department.Id" name="departmentId"></option>
                                                                                    }
                                                                                }
                                                                            </select>

                                                                            <input type="hidden" name="userId" id="userId" value="@user.Id" />
                                                                            <button type="submit" class="btn btn-primary rounded btn-sm d-inline">Save</button>
                                                                        </form>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="alert alert-warning">
                                                        <h3>There is No Employee In Company.</h3>
                                                    </div>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        }

    }

    @foreach (var company in Model.Companies)
    {
        @if (company.Id == Model.User.CompanyId)
        {
            <div id="accordion">
                <div class="card mt-5 shadow">
                    <div class="card-header bg-dark">
                        <a href="#collapseEmployeesList" class="card-link p-1" data-toggle="collapse">
                            Departments of Employees
                        </a>
                    </div>
                    <div id="collapseEmployeesList" class="collapse show">

                        <div class="card-cody">
                            <div class="row">
                                <div class="col-md-12 p-5">
                                    <table id="employeeTable" class="table table-bordered mt-3 w-100">
                                        <thead>
                                            <tr>
                                                <td style="width:min-content">#</td>
                                                <td style="width:200px;">First Name</td>
                                                <td style="width:200px;">Last Name</td>
                                                <td style="width:300px;">Department Name</td>
                                                <td style="width:min-content;">Options</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Users.Count() > 0)
                                            {
                                                @foreach (var user in Model.Users)
                                                {
                                                    @foreach (var department in Model.Departments)
                                                    {
                                                        @foreach (var employeeDeparments in Model.EmployeeDepartments)
                                                        {
                                                            @if (Model.User.CompanyId == user.CompanyId && employeeDeparments.DepartmentId == department.Id && user.Id == employeeDeparments.EmployeeId)
                                                            {
                                                                <tr>
                                                                    <td>@user.Id</td>
                                                                    <td>@user.FirstName</td>
                                                                    <td>@user.LastName</td>
                                                                    <td>@department.Name</td>
                                                                    <td>
                                                                        <form action="/Admin/DeleteEmployeeFromDepartment" method="post">
                                                                            <button type="submit" class="btn btn-danger rounded btn-sm d-inline"><i class="fas fa-trash"></i></button>
                                                                            <input type="hidden" name="userId" id="userId" value="@user.Id" />
                                                                            <input type="hidden" name="departmentId" id="derpartmentId" value="@department.Id" />
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }

                                                    }

                                                }
                                            }
                                            else
                                            {
                                                <div class="alert alert-warning">
                                                    <h3>No Employees</h3>
                                                </div>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        }
    }

}
else
{
    <div class="row">
        <div class="col-12 mt-5">
            <div class="alert alert-info">
                <div class="text-center">
                    <h3>No Employees. Please Firstly Add Employee.</h3>
                    
                    <a class="btn btn-success" href="/Admin/Users/Create" role="button">Add User <i class="fas fa-directions"></i> </a>
                </div>
            </div>
        </div>
    </div>

}
