@model RequestsListModel
@section Styles{
    <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#UserTable').DataTable();
        });
    </script>
}

<partial name="_Search" />
<div class="card shadow mt-5">
    <div class="card-header bg-dark">
        Users Application List
    </div>
    <div class="card-body table-responsive-sm">
        <table id="UserTable" class="table table-bordered table-striped mt-3 w-100">
            <thead>
                <tr>
                    <td style="width:250px;">Service Name</td>
                    <td style="width:300px;">Title</td>
                    <td style="width:250px;">Request Date</td>
                    <td style="width:150px;">Request Status</td>
                    <td style="width:min-content;">Options</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Requests.Count() > 0)
                {

                    @foreach (var request in Model.Requests)
                    {
                        @foreach (var user in Model.Users)
                        {
                            @if (request.UserId == user.Id)
                            {
                                @foreach (var service in Model.Services)
                                {
                                    @foreach (var companyService in Model.CompaniesServices)
                                    {


                                        @if (companyService.ServiceId == service.Id)
                                        {
                                            @if (request.CompaniesServiceId == companyService.Id)
                                            {
                                                <tr class="@(request.RequestStatus==Request.EnumRequestStatus.Waiting ? "bg-info":
                                       request.RequestStatus==Request.EnumRequestStatus.Accepted ? "bg-success":
                                       request.RequestStatus==Request.EnumRequestStatus.Closed ? "bg-danger":"")">
                                                    <td>@service.ServiceName</td>
                                                    <td>@request.Title</td>
                                                    <td>@request.RequestDate</td>
                                                    <td>@request.RequestStatus</td>
                                                    <td>
                                                        <a href="/Request/RequestDetail/@request.Id" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }


                                    }
                                }
                            }

                        }
                    }

                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>No Applications</h3>
                    </div>
                }

            </tbody>
        </table>
    </div>
</div>