@model ServiceModel
<div id="accordion">
    <div class="card  shadow mt-5">
        <div class="card-header bg-dark">
            <a href="#collapseServicelist" class="card-link p-1" data-toggle="collapse">
                Service List
            </a>
        </div>
        <div id="collapseServicelist" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="dataTable" class="table table-bordered mt-3">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td style="width:500px;">Service Name</td>
                                    <td style="width:500px;">Service Description</td>
                                    <td style="width:max-content;">Options</td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Services.Count() > 0)
                                {
                                    @foreach (var service in Model.Services)
                                    {
                                        if (service.isDeleted == false)
                                        {
                                            <tr>
                                                <td style="width:20px;">@service.Id</td>
                                                <td style="width:150px;">@service.ServiceName</td>
                                                <td style="width:150px;">@service.ServiceDescription</td>
                                                <td style="width:20px;">
                                                    <a href="/Admin/Services/@service.Id" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                                                    <form action="/Admin/ServiceDelete" method="post" class="d-inline">
                                                        <input type="hidden" name="ServiceName" value="@service.ServiceName" />
                                                        <input type="hidden" name="Id" value="@service.Id" />
                                                        <button type="submit" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }

                                    }
                                }
                                else
                                {
                                    <div class="alert alert-warning">
                                        <h3>No Service</h3>
                                    </div>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>